<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 3</title>
</head>
<body>
<h1 data-th-text="${entry.title}"
    data-th-if="${entry.category == 'Java'}"
    style="background-color: black; color: white;"></h1>
<h1 data-th-text="${entry.title}"
    data-th-unless="${entry.category == 'Java'}"
    style="background-color: pink; color: red;"></h1>
<p data-th-text="${entry.content}"></p>
<p data-th-if="${entry.published}">PUBLIKÁLVA</p>
<p data-th-unless="${entry.published}"> NINCS PUBLIKÁLVA</p>
<p data-th-if="${entry.rating &gt; 3}">EZ EGY JÓ CIKK</p>
<p data-th-switch="${entry.rating}">
    <span data-th-case="1">ELÉGTELEN</span>
    <span data-th-case="2">ELÉGSÉGES</span>
    <span data-th-case="3">KÖZEPES</span>
    <span data-th-case="4">JÓ</span>
    <span data-th-case="5">JELES</span>
    <span data-th-case="*">ISMERETLEN</span>
</p>
<p data-th-text="${entry.published ? ':)' : ':('}"></p>
</body>
</html>